<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <h1>This is Payment Gateway for Rentofy...</h1>

    <form method="post" id="my_form">
        <label for="<%=TotalPrice%>" >Pay <%=TotalPrice%>/- for your item...</label>
        <input type="hidden" name="<%=TotalPrice%>" value="<%=TotalPrice%>" id="item1">
        <button type="submit">Click here to PAY!</button>
    </form>
    <div>
        <h3>CLick here to pay...</h3>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>

            var form = document.getElementById('my_form');
            form.addEventListener('submit', async function(event){
                event.preventDefault();

                var amount = document.getElementById('item1').value;

                var response = await fetch("http://localhost:3001/payment"
                    , {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                    }
                );
                console.log(response);

                var orderData = response.json();

                var options = {
                    "key": "rzp_test_Qt8FL35NaoTLl3", // Enter the Key ID generated from the Dashboard
                    "amount": amount*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "order_id": orderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        window.location.href ="payed"
                    },
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            });

            
        </script>
    </div>
</body>
</html>